/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
/.mvn/
com.zhengbing.learn.jms/src/main/resources/
com.zhengbing.learn.jms/src/test/
com.zhengbing.learn.redis/src/main/
com.zhengbing.learn.redis/target/
com.zhengbing.learn.springcloud/.mvn/
